.support{
    &__title{
        text-align: center;
        color: #221f1f;
        font-weight: bold;
    }
    &__desk{
        text-align: center;
        color: #0364ad;
        font-size: 1.2em;
    }
    &__contact{
        text-align: center;
        color: #221f1f;
        font-weight: bold;
    }
}