.table{
   
    &__content{
        padding-top: 10px;
    }
    
    &__top{
        background: linear-gradient(to right, #262467 0%,#26a7e0 100%), -webkit-linear-gradient(left, #262467 0%,#26a7e0 100%);
        padding: 20px 22px;    
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        color: white;
    }

    &__top-title{
        display: flex;
    }
    &__top-left{
        width: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__top-right{
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 20px;
    }
    .fa-dollar-sign{
        margin-right: 20px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: white;
        color: #26a7e0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__top-Payouts{
        margin-right: 10px;
    }
    &__top-link{
        color: white;
        font-size: 0.85em;
        transition: .3s;
    }
    &__top-link:hover{
        font-size: 1em;
        color: #262467;
    }
    &__img{
        width: 11%;
    }
  }
  thead th{
  }
  tbody{
  }
  td{
      text-align: center;
      width: 100px;
  }